@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg-color: #0f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    /* overflow: hidden; */
}
html *, html *:before, html *:after, html *::before, html *::after {
  box-sizing: inherit;
}

html::-webkit-scrollbar {
    width: 0.2rem;
}
html::-webkit-scrollbar:hover {
  width: 0.5rem;
}
html::-webkit-scrollbar-track{
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem;
  width: 0.2rem;
}

html::-webkit-scrollbar-thumb :hover{
width: 0.5rem;
}

body{
    scroll-behavior: smooth;
    background: var(--bg-color);
    color: var(--text-color);
   
}
section{
    padding: 10rem 9% 2rem;
    height: 100vh;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;  
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}



.logo-container {
  position: relative;
  display: inline-block;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--main-color);
  cursor: default;
  display: inline-block;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.logo:hover {
  transform: rotateY(180deg);
}

.logo .front,
.logo .back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.logo .front {
  transform: rotateY(0deg);
}

.logo .back {
  transform: rotateY(180deg);
}



.navbar a{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color)!important;
}

    #menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    }

    .certif-container {
      width: 1061px;
      height: 900px;
      overflow: hidden;
    }
    

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* model-viewer {
    border: 1px solid #000;
    background: #323946;
    box-shadow: 0 0 10px 2px #fff, 0 0 15px 5px rgba(0, 255, 255, 0.877);
    border-radius: 65px;
  } */
  .home-img img {
    opacity: 0.6;
    width: 500px;
    height: 600px;
    border: 10px solid rgba(0, 238, 255, 0.849);
    box-shadow: 0 0 10px 2px #fff, 0 0 15px 5px rgba(0, 255, 255, 0.877);
    border-radius: 65px;
    object-fit: cover;
    background-color: rgb(0, 255, 255);
    background-clip: content-box;
  }
  
  .home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
  }
  .home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
  }

  span {
    color: var(--main-color);
  }
  .home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
  }

  .home-content p {
    font-size: 1.8rem;
  }


  .icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
  }

  .icons a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
  }

  .btn {
    display: inline-block;
    padding: 1rem 3rem;
    box-shadow: var(--main-color);
    background: linear-gradient(45deg, #00eeff, #14748a, #0f242d);
    color: var(--second-bg-color);
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 50px;
    transition: .3s;
  }
  .btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
  }

  .about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
  }

    /* .about-img .aboutimg {
        opacity: 0.6;
        width: 500px;
        height: 600px;
        border: 10px solid rgba(0, 238, 255, 0.849);
        box-shadow: 0 0 10px 2px #fff, 0 0 15px 5px rgba(0, 255, 255, 0.877);
        border-radius: 65px;
        object-fit: cover;
        background-color: rgb(0, 255, 255);
        background-clip: content-box;
      } */
  
  

  .heading {
    font-size: 4.5rem;
    text-align: center;

  }
  .about-content{
    text-align: left;
    margin-left: 20px;
    
  }
  .about-content h2 {
    text-align: left;
    line-height: 1.2;
  }
  
  .about-content h3 {
    font-size: 2.6rem;
  }


    .about-content p {
        font-size: 1.6rem;
        margin: 2rem 0 3rem;
    }
  
    .projects h2{
        margin-bottom: 5rem;

    }
    .projects-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .projects-container .project-box{
        width: 30rem;
        height: 30rem;
        flex: 1 1 30rem;
        background: var(--second-bg-color);
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
        text-align: center;
        border: .2rem solid var(--bg-color);
        transition: .5s;

    }
   

    .projects-container .project-box:hover{
        border-color: var(--main-color);
        transform: scale(1.02);
    }
    .projects-container .project-box:hover h3 {
        color: var(--main-color);
      }
      .projects-container small {
        margin-top: 1000px;
        font-size: 0.8em;
        color: var(--bg-color);
      }
    .projects-container h3{
        margin-bottom: 2rem;
        color: var(--text-color);
        font-size: 2rem;
    }
    .projects-container p{
        margin-bottom: 1.6rem;
        color: var(--text-color);
    }
    .projects-container i{
        font-size: 7rem;
        color: var(--main-color);
        margin-bottom: 1.5rem;
    }
    .projects-container .btn{ 
        margin-top: 3rem;
    }
    .certifications{
      background: var(--second-bg-color);
      
    }

    .hero {
      width: 100%;
      height: 60vh;
      background-color: transparent;
      position: relative;
    }

    ul {
      padding: 0;
      margin-top: 60px;
      list-style: none;
    }
    .slider {
      width: 100%;
      height: 60vh;
      position: relative;
      display: flex;
      transition: all 0.5s;
      overflow: hidden;
    }
    .slider .slide {
      width: 20%;
      height: 100%;
      position: relative;
      text-align: center;
      transition: 0.5s;
    }
    .slider .slide:nth-child(1) {
      background: url("/images/react_page-0001.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }
    .slider .slide:nth-child(2) {
      background: url("/images/dev\ back-end_page-0001.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }
    .slider .slide:nth-child(3) {
      background: url("/images/Python_page-0001.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }
    .slider .slide:nth-child(4) {
      background: url("/images/CCNARS.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }
    .slider .slide:hover {
      width: 41%;
      cursor: pointer;
    }

    .contact h2{
      margin-bottom: 3rem;
    }

    .contact form{
      max-width: 70rem;
      margin: 1rem auto;
      text-align: center;
      margin-bottom: 3rem;
    }

    .contact form .inputBox{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .contact form .inputBox input,
    .contact form textarea{
      width: 100%;
      padding: 1.5rem;
      margin: .7rem 0;
      border: none;
      outline: none;
      border-radius: .8rem;
      font-size: 1.6rem;
      background: var(--second-bg-color);
      color: var(--text-color);
    }

    .contact form .inputBox input{
      width: 49%;   
    }
    
    .contact form textarea{
      resize: none;
    }

    .contact form .btn{
     
      margin-top: 2rem;
      cursor: pointer;
    }

    .footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 2rem 9%;
      background: var(--second-bg-color);
      position: relative;

    }
    .footer-text p{
      font-size: 1.3rem;
      color: var(--text-color);
    }

    .footer-icon-top a{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: .8rem;
      border-radius: .8rem;
      background: var(--main-color);
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 3.2rem;
      margin-right: 2rem;
      
    }
    .footer-icon-top a:hover{
      box-shadow: 0 0 1rem var(--main-color);
    }

    .footer-icon-top a i{
      font-size: 2.4rem;
      color: var(--second-bg-color);
    }

    .footer-icon a{
      display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin-top: .8rem;
    margin-left: 1rem;
  }

  .footer-icon a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
  }
    



